# Windows junk
Thumbs.db
Desktop.ini

# Build artifacts
*.exe
*.dll
*.pdb
*.obj
*.log

# Packaging leftovers
*.zip
*.7z
*.tar
*.gz

# VSCode
.vscode/

# PowerShell cache
*.ps1xml
*.cache

# Misc
*.tmp
*.bak